Repository DubskySteam/AQP, pull requests merged in 2023-11, with the labels that each got.

#15 Readme overhaul
  README.md
  docs/repo/banner.png
Labels: enhancement

#18 Register page
  frontend/SWAC/sites/register/register.css
  frontend/SWAC/sites/register/register.html
Labels: Frontend

#20 Register + Basic js structure
  frontend/SWAC/sites/register/register.css
  frontend/SWAC/sites/register/register.html
  frontend/SWAC/sites/register/register.js
Labels: question, Frontend

#25 enhanced SmartUser to new database schemata
  backend/projects/SmartUser/src/java/de/fhbielefeld/smartuser/persistence/jpa/User.java
  backend/scripts/smartsocials.sql
  backend/scripts/smartuser_update.sql
Labels: Backend

#26 SmartUser backlog
  backend/projects/SmartUser/src/java/de/fhbielefeld/smartuser/persistence/jpa/User.java
  backend/scripts/smartsocials.sql
  backend/scripts/smartuser_update.sql
Labels: Backend
